
.footer {
  @include flex-mixin(row, nowrap, center, center);
  height: 5em;
  background: rgb(30,36,39);
  padding: 1rem;
  margin-top: 3em;
  a {
    color: #63605b;
    margin: 0 1rem;
    transition: all 300ms ease-in-out;
    font-size: 1.3rem;
    &:hover {
      color: lighten(#63605b, 50);
      transform: scale(1.07, 1.07);
    }
  }
}