

.product-meta {
  background: $white;
  padding: .5rem;
  text-align: left;
}



.product-details {
  background: $white;
  // padding: 1em;
  text-align: justify;
  color: #7E7E7E;
  line-height: 1.75;
  .tabs {
    @include flex-mixin(row, wrap, center, space-around);
    border-bottom: .1rem solid rgba(0,0,0,0.08);
    li {
      list-style: none;
      margin: 1rem 0;
      .active {
        border-color: black;
      }
    }
    a {
      margin: 0 1rem;
      color: $black;
    }
  }
}

.product-content {
    padding: 1em;
  }