
// Colors
$primary-color: #00aeef;
// $background-color: #161b1d;
$background-color: #fff;
$background-light: #333;

$white: #fff;
$black: #000;

// Typography
$primary-font: 'Roboto', sans-serif;

// Layout