.announcement p {
  text-align: justify;
  font-size: 18px;
  line-height: 28px;
}

.announcement h3 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
}


.announcement-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  padding: 25px;
}

.announcement-item {
  grid-column: span 3;
}

.announcement-item-details {
  padding: 15px;
}

@media screen and (max-width: 680px) {
  .announcement-wrapper {
    padding: 10px;
  }
  .announcement-item {
    grid-column: span 12;
  }
}

@media (max-width: 1200px) and (min-width: 680px) {
  .announcement-item {
    grid-column: span 12;
  }
}