@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

a, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.active {
  color: black;
}