input,
input[type='text'],
input[type='password'],
input[type='number'],
select,
textarea {
  outline: none;
}

.center {
  text-align: center;
}

.map-container {
  iframe {
    width: 100%;
    height: 400px;
  }
}
