p {
  text-align: justify !important;
}

.primary-text {
  color: $primary-text-color;
  text-align: center;
}

.secondary-text {
  color: $secondary-text-color;
  text-align: center;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}
