.donate-ul {
  list-style: none;
  li {
    margin-bottom: 25px;
  }
  a {
    margin-left: 25px;
    color: $primary-color;
    text-align: center;
    font-size: 18px;
  }
}

.donate-child-icon {
  font-size: 90px;
  text-align: center;
  color: $primary-color;
}