.map-embed {
  border: 0;
  max-width: auto;
  height: 500px;
  margin-top: 50px;
}

.map-container {
  h3 {
    text-align: center;
    color: $black;
  }
  hr {
    border-color: $primary-color;
    width: 150px;
  }
}
