.jewish-card {
  height: auto;
  img {
    height: 150px !important;
    width: 100%;
    margin-bottom: 10px;
  }
  h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: $brand-charcoal;
  }
}
