.email-cta {
  background-color: $brand-purple;
  padding: 100px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 42px;
    span {
      color: $primary-color;
    }
  }
  h4 {
    color: $white;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
  }
}
