.series-item {
  border-bottom: 1px solid #dfe4eb;
  margin-bottom: 25px;
  .series-item-links {
    color: grey;
  }
}

.series-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.series-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  i {
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 2px;
    color: #aaa;
    padding: 10px;
    margin-left: 10px;
    transition: color 300ms ease-in-out;
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.series-item-title {
  font-size: 14px;
  color: #3e3e3e;
  font-weight: 400;
  text-transform: capitalize;
}
