.subfooter {
  background-color: #ffffff;
  border-top: 1px solid #e7e4e2;
  padding: 20px;
}

.subfooter-copyright {
  float: left;
}

.subfooter-social {
  float: right;
  a,
  i {
    margin: 0 5px;
    color: $primary-color;
  }
}
