.topbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  background-color: $brand-orange;
  padding: 15px;
  .topbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .topbar-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  i {
    color: $white;
    margin-right: 5px;
    margin-left: 20px;
    font-size: 14px;
  }
}

// Media Queries
@media only screen and (max-width: 800px) {
  .topbar {
    padding: 10px;
    i {
      margin-right: 5px;
    }
  }

  .topbar-left {
    align-items: center;
    justify-content: center !important;
    margin-left: 0;
  }

  .topbar-right {
    align-items: center;
    justify-content: center !important;
    margin-right: 0;
  }
}
