.product-card {
  background: lighten(#eee, 3);
  transition: all 300ms ease-in-out;
  margin: 20px 0;
  box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,0.135);
  border-radius: 0 0 4px 4px;
}

.product-card .details {
  padding: 5px;
}

.product-card .title {
  font-size: 16px;
  text-align: center;
  padding: 2rem;
}

.product-card img {
  height: 300px;
  width: 100%;
}

.product-card a {
  color: black;
}

.product-card a:hover {
  transform: scale(2.05, 1.01);
}