@import '../../style/scss/variables';

.series-item {
  border-bottom: 1px solid #dfe4eb;
  margin-bottom: 25px;
  .series-item-links {
    color: grey;
  }
}

.series-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.series-item-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .series-item-square {
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 2px;
    color: #aaa;
    padding: 10px;
    margin-left: 10px;
    transition: all 300ms ease-in-out;
    transition-property: background-color, color;
    display: flex;
    &:hover {
      background-color: $primary-color;
      cursor: pointer;
      border: 1px solid $primary-color;
      svg {
        color: $white;
      }
    }
  }
}

.series-item-title {
  font-size: 14px;
  color: #3e3e3e;
  font-weight: 400;
  text-transform: capitalize;
}
