.announcement {
  border: 1px solid #eee;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 35px #eee;
  margin-bottom: 35px;
  position: relative;
  img {
    height: 400px;
    width: 700px;
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 30px;
  }
  p {
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
  }
  .announcement-body {
    padding: 25px;
    height: 300px;
  }
}

