$pulseSize: 5em;
$pulseTiming: 1.3s;

.centered {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loader {
  width: $pulseSize;
  height: $pulseSize;
  border-radius: $pulseSize;
  background-color: #f09a3e;
  outline: 1px solid transparent;
  animation: pulseanim $pulseTiming ease-in-out infinite;
}

@keyframes pulseanim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
