.stream-iframe {
  min-height: 500px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .stream-iframe {
    height: 200px;
  }
}

.live-meta {
  margin: 0 auto;
  text-align: center !important;
  margin-bottom: 50px;
}
