@import '../../style/scss/variables';

.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-top: 1px solid #e7e4e2;
  padding: 20px;
  position: relative;
  bottom: 0;
}

.footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 20px;
  svg {
    color: $primary-color;
    margin: 0 5px;
  }
}

@media only screen and (max-width: 800px) {
  .footer-copyright,
  .footer-social {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
