.article {
  margin-top: -20px;
}

.article h1 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.article img {
  width: 100%;
}

.article p {
  padding: 15px;
  font-size: 18px;
  text-align: justify;
}