@import '../../style/scss/variables';

.jewish-card {
  // height: auto;
  height: 380px;
  img {
    height: 200px !important;
    width: 100%;
    margin-bottom: 10px;
  }
  h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: $brand-charcoal;
  }
  .card-body {
    padding: 10px !important;
    height: 100px;
  }
  .c-footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    // margin-top: 30px;
    padding: 15px;
    border-top: 1px solid #dfe4eb;
    position: relative;
  }
}
