@import '../../style/scss/variables';

.accordion-title {
  margin-bottom: 50px;
  h3 {
    font-weight: 700;
  }
}

.accordion-button {
  margin-bottom: 1rem;
  background-color: $white;
  color: $black;
  border: none;
  text-align: left;
  padding: 25px;
  outline: none;
  span {
    margin-left: 15px;
  }
  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}

.accordion-item-container {
  background-color: $white;
  padding: 25px;
  margin-bottom: 20px;
  p {
    word-wrap: break-word;
  }
}

.icon-primary {
  color: $primary-color;
}

.parallax {
  background-image: url('../../assets/img/western-wall.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.parallax-header {
  color: $white;
  font-weight: 700;
  font-size: 52px;
  text-align: center;
  text-shadow: 0 0 4px rgba(0,0,0,0.3);
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.parallax-subheader {
  color: $white;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 50px;
  text-shadow: 0 0 4px rgba(0,0,0,0.6);
  // -webkit-text-stroke: 0.4px black;
  // -webkit-text-fill-color: white;
}

.parallax-button-group {
  text-align: center;
  button {
    margin-right: 20px;
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .parallax-header {
    font-size: 28px !important;
  }

  .parallax-subheader {
    font-size: 16px;
    margin-top: 0;
    // margin-bottom: 50px;
  }

  .parallax-button-group {
    button {
      margin-bottom: 20px;
      margin-right: 0;
      margin-top: 0;
      width: 80%;
    }
  }
}
