.navbar {
  display: block;
  padding: 15px;
  background: white;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: 0 0 25px 0 #eee;
  min-width: 100%;
}

.navbar a {
  text-decoration: none;
  color: #bbb;
  margin: 0 20px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 16px;
}

.navbar .active {
  color: black;
}

.hamburger {
  font-size: 22px;
  margin: 0 22px;
  float: right;
}

.hamburger i {
  font-size: 32px;
}

.logo {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0 18px;
  text-align: center;
}

.links {
  float: right;
  text-align: center;
  margin-top: 13px;
}

@media (max-width: 980px) {
  .hamburger {
    margin-top: 5px;
    float: right;
  }
  .links {
    display: none;
  }
}

@media (min-width: 980px) {
  .hamburger {
    display: none;
  }
}