@import '../../style/scss/variables';

.sticky-email {
  position: sticky;
  z-index: 1000;
  // top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  float: right;
  box-shadow: 0 0 5px #bbb;
  background-color: #fff;
  button {
    background-color: #2c5a85;
    color: $white;
    border: none;
    outline: none;
    border-radius: 0;
    word-wrap: break-word;
    &:active {
      outline: none !important;
    }
  }
}

.sticky-email-open {
  background-color: $white;
  img {
    margin: 30px 0;
    text-align: center;
  }
  .sticky-email-body {
    padding: 25px;
  }
}

.btn-primary:focus,
.btn-primary.focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

@media only screen and (max-width: 800px) {
  .sticky-email {
    width: 100%;
    float: none;
  }
}
