.service {
  background: darken(white, 2);
}

.service iframe {
  width: 100%;
  height: 50em;
}

.service .content {
  padding: 1em;
}

.service h1 {
  color: #63605b;
  text-transform: uppercase;
  text-align: center;
}

.service p {
  color: darken(#aaa, 40);
  font-family: inherit;
  text-align: justify;
}