// Colors
$primary-color: rgb(240, 154, 61);
$secondary-color: rgb(141, 90, 165);
$white: #fff;
$black: #000;

// Fonts
$primary-font: 'Open Sans', Arial, Helvetica, sans-serif;
$changa: 'Changa One';
