// Variables
@import 'variables';

@font-face {
  font-family: LemonMilk;
  src: url('../../assets/font/LemonMilk.otf');
}

// Mixins
@mixin padding-container($padding) {
  padding: $padding;
}

// Base
@import 'base/reset';
@import 'base/general';

// Utilities
@import 'utilities';

// Components
@import 'components/containers';

p {
  text-align: justify !important;
}

.brand-hr {
  border-color: $primary-color;
}

.accordion-button {
  margin-bottom: 1rem;
  background-color: $white;
  color: $black;
  border: none;
  text-align: left;
  padding: 25px;
  outline: none;
  span {
    margin-left: 15px;
  }
  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}


h1 {
  line-height: initial !important;
}